@page "/pacientes"
@rendermode InteractiveServer
@inject NavigationManager _navigator;
@inject IRepositorioClientes _repositorio;


<h3>Pacientes</h3>

<a class="btn btn-success" href="paciente/nuevo">Agregar Paciente</a>
<a class="btn btn-success" href="terapeuta/nuevo">Agregar Terapeuta</a>
<a class="btn btn-success" href="citas">Ver Citas</a>
@if (_pacientes == null)
{
    <div class="spinnet-border" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
}
else if (_pacientes.Count == 0)
{
    <h3>No existen pacientes registrados</h3>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Edad</th>
                <th>Dirección</th>
                <th style="text-align: right">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cliente cliente in _pacientes)
            {
                <tr>
                    <th>@cliente.Nombre</th>
                    <th>@cliente.Correo</th>
                    <th>@cliente.Telefono</th>
                    <th>@cliente.Edad</th>
                    <th>@cliente.Direccion</th>
                    <td style="text-align: right;">
                        <button class="btn btn-primary" @onclick="(() =>AgendarCita())">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                                <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0" />
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                            </svg> Agendar
                        </button>

                        <button class="btn btn-success" @onclick="(() =>Modificar(cliente.Id))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </button>

                        <button class="btn btn-danger" @onclick="(() =>Eliminar(cliente))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Cliente>? _pacientes;

    protected override async Task OnInitializedAsync()
    {
        _pacientes = await _repositorio.GetAll();
    }

    private async void Eliminar(Cliente cliente)
    {
        await _repositorio.Delete(cliente.Id);
        _pacientes!.Remove(cliente);
        StateHasChanged();
    }

    private void Modificar(int id)
    {
        _navigator.NavigateTo($"/pacientes/editar/{id}");
    }

    private void AgendarCita()
    {
        _navigator.NavigateTo("/cita/nueva");
    }
}
